/* Contenedor principal */
.contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 150px);
    box-sizing: border-box;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Contenido principal */
.contacto-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contacto-content {
    flex: 1;
    margin-right: 20px;
}

.contacto-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.contacto-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555;
}

.contacto-info {
    list-style: none;
    padding: 0;
}

.contacto-info li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.contacto-info strong {
    color: #000;
}

.contacto-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-img {
    background-image: url("../assets/Operadora.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 800px;
    height: 430px;
    border: 3px solid #090909;
    border-radius: 10px;
}