* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Sección principal */
.full {
    width: 100%;
    height: 100vh;
    background: url('../assets/ImgInicio.webp') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin: 0;
    position: relative;
}

.full-inner {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.ini-content {
    max-width: 530px;
    margin: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    /* Slightly gray background */
    color: #f9f3f4;
    /* White text color */
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.ini-content h1 {
    font-size: 3em;
    font-weight: bold;
    color: #f9f3f4;
    text-shadow: 0 0 15px rgb(0, 0, 0);
    margin-bottom: 20px;
}

.ini-content a {
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 9px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border: 3px solid;
    padding: 10px 20px;
    transition: background 0.3s;
}

.ini-content a:hover {
    background: #45a049;
}

/* Sección de texto */
.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    font-size: 1.6rem;
    color: #333;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

p {
    text-align: justify;
    line-height: 1.6;
    font-size: 1rem;
}

/* Adaptabilidad */
@media screen and (max-width: 600px) {
    .texto {
        flex-direction: column;
    }
}

.seccion {
    max-width: 800px;
    margin: 0 auto;
}

.videos-section {
    padding: 20px;
    background: #fff;
    color: #333;
    border-radius: 10px;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.video-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 560px;
}

.video-details {
    margin-top: 10px;
    text-align: center;
}

.video-description {
    font-size: 1em;
    margin-bottom: 5px;
}

.video-citation {
    font-size: 0.9em;
    color: #777;
}

/* Footer */
.ini-footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #9c9c9c;
    color: #000000;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.ini-footer p {
    text-align: center;
}

#informacion h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}