.content-login {
    color: rgb(0, 0, 0);
    display: flex;
    border: 2px solid transparent;
    border-radius: 25px;
    width: 450px;
    background-color: #4CAF50; /* Color de fondo verde */
    padding: 30px;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.form-group {
    width: 100%;
    margin-bottom: 20px; /* Espaciado entre elementos */
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px; /* Separar el label del input */
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.username,
.password {
    width: 100%;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #ccc;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

.username:focus,
.password:focus {
    border: 2px solid #33fd01;
}

.btn {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px 10px; /* Reducir padding */
    background-color: #3a8b2f; /* Color de fondo más oscuro */
    height: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px; /* Reducir tamaño de fuente */
}

.btn:hover {
    background-color: #4ca04f; /* Color de fondo más oscuro al hacer hover */
}

.btn:active {
    opacity: 0.8;
}

.recuperar {
    align-self: flex-start; /* Alinear a la izquierda */
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

.recuperar:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 0px;
    text-align: center;
}
