.modal-e-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-e-content {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-e-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-e-data label {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.modal-e-data input, .modal-e-data select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 14px;
}

.modal-e-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.modal-e-button {
    padding: 8px 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgb(155, 253, 253);
    cursor: pointer;
}

.modal-e-button:hover {
    background-color: rgba(0, 255, 255, 0.623);
}
