/* Contenedor principal */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    top:7%;
    height: 70vh;
}

/* Tarjeta */
.carta {
    background-color: #4CAF50;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.title {
    display: flex;
    align-items: center;
}

.icon {
    color: #007bff;
    margin-right: 8px;
}

.h2Recover {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    margin: 0;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: #888888;
    cursor: pointer;
    transition: color 0.2s;
}

.close-btn:hover {
    color: #555555;
}

/* Subtítulo */
.subtitulo {
    font-size: 14px;
    color: #000000;
    margin-bottom: 16px;
    text-align: center;
}

/* Contenedor del input */
.input-container {
    display: flex;
    flex-direction: column;
    /* Organiza los elementos verticalmente */
    gap: 10px;
    /* Espaciado entre inputs */
    margin-bottom: 16px;
}

.input-field {
    width: 100%;
    /* Asegura que el input ocupe todo el ancho */
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
}

/* Botones de acciones */
.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cancel-btn {
    background-color: #ff5b5b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cancel-btn:hover {
    background-color: #e04848;
}

.accept-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.accept-btn:hover {
    background-color: #0056b3;
}