.rg-container {
    color: rgb(0, 0, 0);
    display: flex;
    border: 2px solid transparent;
    border-radius: 25px;
    width: 750px; /* Ancho ajustado */
    background-color: #4CAF50; /* Color de fondo verde */
    padding: 30px; /* Padding reducido para no exceder */
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    top: 5%;
    position:relative;
    margin: auto;
}

.rg-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px; /* Reducido para más espacio */
}

.rg-title {
    text-align: center;
    font-size: 24px; /* Tamaño ajustado */
    font-weight: bold;
    margin-bottom: 15px; /* Espaciado menor */
    color: #333;
}

.rg-form-data {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Diseño en dos columnas */
    gap: 15px 40px; /* Más espacio horizontal (40px) entre las columnas */
}

.rg-form-data label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.rg-form-data input,
.rg-form-data select {
    width: 100%;
    padding: 8px; /* Padding menor para ajustarse al alto */
    border-radius: 8px;
    border: 2px solid #ccc;
    outline: none;
    font-size: 14px; /* Fuente más pequeña */
    transition: border-color 0.3s;
}

.rg-form-data input:focus,
.rg-form-data select:focus {
    border: 2px solid #33fd01;
}

/* Para el botón centrado */
.rg-btn-container {
    grid-column: span 2; /* Ocupa las dos columnas */
    display: flex;
    justify-content: center;
}

.rg-btn {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px 10px; /* Reducir padding */
    background-color: #3a8b2f; /* Color de fondo más oscuro */
    height: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px; /* Reducir tamaño de fuente */
}

.rg-btn:hover {
    background-color: #4ca04f;
}

.rg-btn:active {
    opacity: 0.8;
}
