.tab-container {
    display: flex;
    flex-direction: column; /* Dirección de los elementos: columna */
    padding: 0;
    background-color: #fff;
    border-radius: 10px;
    margin: 15px;
    min-height: 30px; /* Altura mínima para el contenedor */
    height: 100%; /* Ocupa el 100% de su contenedor principal */
    flex-grow: 1; /* Permite que el contenedor crezca para ocupar el espacio disponible */
}

.menu {
    flex-shrink: 0;
}

.tab-content {
    flex-grow: 1; /* Hace que este div ocupe todo el espacio disponible */
    display: flex;
    height: 100%;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    overflow: auto; /* Habilita el scroll si es necesario */
}
