.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.subcontainer1, .subcontainer2{
    width: 50%;
    padding: 20px;
}

.subcontainer1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.textarea{
    outline: none;
    width: 200px;
    height: 100px;
    resize: none;
    margin-right: 10px; 
}

.subcontainer2{
    display: flex;
    flex-direction: column;
}

.subcontainer2 .textarea{
    width: 90%;
}

.subcontainer2 span{
    font-size: 1.1rem;
    line-height: 60px;
    height: 57px;
}