.header-container{
    height: 40px;
    position: relative;
}

.title{
    display: block;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
}

.button-close{
    position: absolute;
    border: 2px solid red;
    top: 0;
    right: 0;
}