<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SWOT</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SWOT</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bafac9996f1248a5b05f07dc4bffd1ef.png" alt="SWOT" usemap="#id-bafac9996f1248a5b05f07dc4bffd1efmap"/>
			   <map name="id-bafac9996f1248a5b05f07dc4bffd1efmap">
				          <area shape="rect" coords="10,442,71,791" href="../objects/id-05b388aa40154fe38b393bc806a1913b.html" target="element" >
				          <area shape="rect" coords="10,70,71,419" href="../objects/id-b72eee479af146668854f6127635503e.html" target="element" >
				          <area shape="rect" coords="466,10,815,47" href="../objects/id-7b46a11ac3d4402a949a45b35e1a9373.html" target="element" >
				  		        <area shape="rect" coords="646,608,754,695" href="../objects/id-e95d6bc56adb43b7ab665fd97325ac62.html" target="element" >
				  		        <area shape="rect" coords="502,608,610,695" href="../objects/id-ae8aad3840c941438223d054626f6202.html" target="element" >
				  		        <area shape="rect" coords="646,490,754,574" href="../objects/id-5eaff75db65f4d4d9e730aa590a19d88.html" target="element" >
				  		        <area shape="rect" coords="502,490,610,574" href="../objects/id-da7c86d577de42c48e629f9d0d2475b9.html" target="element" >

				          <area shape="rect" coords="454,430,827,803" href="../objects/id-95b5098e812046c7831c97574d5eac44.html" target="element" >
				  		        <area shape="rect" coords="213,701,310,766" href="../objects/id-4d1294170f644c89ae8dcac0d2be33d7.html" target="element" >
				  		        <area shape="rect" coords="286,586,394,682" href="../objects/id-d79e305349b04ce2a3e9610086c7492b.html" target="element" >
				  		        <area shape="rect" coords="119,586,239,682" href="../objects/id-75b2e451a98f4452937c62a38bc56f0f.html" target="element" >
				  		        <area shape="rect" coords="286,484,394,564" href="../objects/id-52a00572d5554381bfbbf62a62cc780d.html" target="element" >
				  		        <area shape="rect" coords="119,484,240,564" href="../objects/id-0ecf903abff945ed92fa84d21652cd74.html" target="element" >

				          <area shape="rect" coords="82,430,455,803" href="../objects/id-30b66dc155ba48a196c8f134a5b1400f.html" target="element" >
				  		        <area shape="rect" coords="658,250,766,322" href="../objects/id-0cac001fc6174d0d8f21de9be3341662.html" target="element" >
				  		        <area shape="rect" coords="514,250,629,322" href="../objects/id-6f98e34135aa4c0881fa5bbdea5d2d19.html" target="element" >
				  		        <area shape="rect" coords="658,145,766,221" href="../objects/id-5cb3d05a895a46a68f7a4a9a3d29410a.html" target="element" >
				  		        <area shape="rect" coords="514,145,629,221" href="../objects/id-86bc6b97ddab4a85bed1d138ca4d25d9.html" target="element" >

				          <area shape="rect" coords="454,58,827,431" href="../objects/id-a60e4f06067644d7b4d6603f3508bd00.html" target="element" >
				          <area shape="rect" coords="94,10,443,47" href="../objects/id-362f2da73b8f480b84ddebd6b18966b0.html" target="element" >
				  		        <area shape="rect" coords="130,251,239,335" href="../objects/id-aa0fe964681a40f9bff884bd66832489.html" target="element" >
				  		        <area shape="rect" coords="274,250,383,335" href="../objects/id-e0c3a0655eca4b61959e157f285f1150.html" target="element" >
				  		        <area shape="rect" coords="274,142,383,227" href="../objects/id-b1869fe6a592426b8944fbad5e8da83d.html" target="element" >
				  		        <area shape="rect" coords="130,142,239,227" href="../objects/id-bff51d6cd68940478b8fe0f09ecc6ec1.html" target="element" >

				          <area shape="rect" coords="82,58,455,431" href="../objects/id-345d5f1a2c5844858ad8783b32f429ea.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">SWOT analysis is a strategic planning method used to evaluate the Strengths, Weaknesses/Limitations, Opportunities, and Threats involved in a project or in a business venture.

It involves specifying the objective of the business venture or project and identifying the internal and external factors that are favorable and unfavorable to achieve that objective. The technique is credited to Albert Humphrey.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-345d5f1a2c5844858ad8783b32f429ea.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-345d5f1a2c5844858ad8783b32f429ea.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-bff51d6cd68940478b8fe0f09ecc6ec1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-bff51d6cd68940478b8fe0f09ecc6ec1.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b1869fe6a592426b8944fbad5e8da83d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b1869fe6a592426b8944fbad5e8da83d.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e0c3a0655eca4b61959e157f285f1150.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e0c3a0655eca4b61959e157f285f1150.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-aa0fe964681a40f9bff884bd66832489.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-aa0fe964681a40f9bff884bd66832489.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-362f2da73b8f480b84ddebd6b18966b0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-362f2da73b8f480b84ddebd6b18966b0.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a60e4f06067644d7b4d6603f3508bd00.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a60e4f06067644d7b4d6603f3508bd00.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-86bc6b97ddab4a85bed1d138ca4d25d9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-86bc6b97ddab4a85bed1d138ca4d25d9.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5cb3d05a895a46a68f7a4a9a3d29410a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5cb3d05a895a46a68f7a4a9a3d29410a.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6f98e34135aa4c0881fa5bbdea5d2d19.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6f98e34135aa4c0881fa5bbdea5d2d19.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-0cac001fc6174d0d8f21de9be3341662.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0cac001fc6174d0d8f21de9be3341662.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-30b66dc155ba48a196c8f134a5b1400f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-30b66dc155ba48a196c8f134a5b1400f.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-0ecf903abff945ed92fa84d21652cd74.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0ecf903abff945ed92fa84d21652cd74.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-52a00572d5554381bfbbf62a62cc780d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-52a00572d5554381bfbbf62a62cc780d.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-75b2e451a98f4452937c62a38bc56f0f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-75b2e451a98f4452937c62a38bc56f0f.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-d79e305349b04ce2a3e9610086c7492b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d79e305349b04ce2a3e9610086c7492b.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-4d1294170f644c89ae8dcac0d2be33d7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4d1294170f644c89ae8dcac0d2be33d7.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-95b5098e812046c7831c97574d5eac44.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-95b5098e812046c7831c97574d5eac44.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-da7c86d577de42c48e629f9d0d2475b9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-da7c86d577de42c48e629f9d0d2475b9.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5eaff75db65f4d4d9e730aa590a19d88.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5eaff75db65f4d4d9e730aa590a19d88.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ae8aad3840c941438223d054626f6202.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ae8aad3840c941438223d054626f6202.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e95d6bc56adb43b7ab665fd97325ac62.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e95d6bc56adb43b7ab665fd97325ac62.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-7b46a11ac3d4402a949a45b35e1a9373.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7b46a11ac3d4402a949a45b35e1a9373.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b72eee479af146668854f6127635503e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b72eee479af146668854f6127635503e.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-05b388aa40154fe38b393bc806a1913b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-05b388aa40154fe38b393bc806a1913b.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>