.parcela-form-container{
    width: 600px;
    background: #ddd;
    border-radius: 5px;
    padding: 10px 20px;
}

.parcela-form-body{
    padding: 10px 5px;
}

.parcela-form-footer{
    padding: 0px 5px;
}

.error{
    /* padding: 5px; */
    border-radius: 5px;
    color: red;
    font-weight: 500;
    overflow: hidden;
}

.error span{
    font-size: .9rem;
    padding-left: 5px;
    display: block;
    width: 100%;
    margin-top: 2px;
    background: rgb(252, 215, 215);
    border-radius: 5px;
}

/* Sobreponiendo modo oscuro */
.subtitle{
    color: #000;
}

.input, .textarea{
    background: #fff;
    color: #000;
    outline-color: var(--has-background-white-ter);
    border-color: var(--has-background-grey-lighter);
}

.input::placeholder, .textarea::placeholder{
    color: var(--has-background-grey-light)
}

.select select{
    background: #fff;
    color: #000;
    outline-color: var(--has-background-white-ter);
    border-color: var(--has-background-grey-lighter);
}

.select option{
    background: #fff;
    color: #000;
}

.label{
    color: #000;
}