@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css";

.container{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /* background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.parcela-form{
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.6);
}

.form-container{
    padding: 10px;
    width: 100%;
    min-height: 520px;
    max-height: 520px;
    min-width: 450px;
    max-width: 900px;
    background: #e2e2e2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.form-header{
    position: relative;
    color: #000;
}

.btn-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.form-body{
    /* background: peru; */
    padding: 0 50px;
    flex-grow: 1;
    max-height: 500px;
    overflow: auto;
}

.form-footer{
    gap: 15px;
    padding-right: 50px;
}

.datos-finales{
    display: flex;
    gap: 20px;
}

.datos-finales .datos{
    width: 50%;
}

.descripcion textarea{
    resize: none;
    height: 100%;
}

